@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar a {
    font-size: 14px;
    font-weight: 500;
}


.navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
    background: #fff;
}

.w-100-height {
    height: 90vh;
    width: 100%;

}

.carousel-item {
    min-height: 300px;
}

.carousel-caption {
    text-align: left;
    margin-bottom: 200px;
    z-index: 2;
}

.carousel-caption h5 {
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    line-height: 60px;
    text-align: left;
    background-color: #8c8c8c47;
    padding: 10px;
}

.carousel-caption p {
    width: 60%;
    font-size: 16px;
    line-height: 1.9;
    text-align: left;
}

.carousel-item .carousel-caption input {
    padding: 0.73rem 2rem;
}

.carousel-inner::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #cfcfcf14;
    z-index: 1;
}

.card-bottom {
    right: 0;
    margin-top: -178px;
}

.card-text {
    color: #636363;
}

.card-color {
    background: #000;
}

.card {
    transition: transform 0.4s ease;
    /*0.5 sn yumuşak geçiş*/
}

.card:hover {
    transform: scale(1.1);
    /* popular house photos 1.1 kat büyüttüm */
}

@media only screen and (max-width: 757px) {
    .navbar {
        text-align: center;
    }

    .carousel-caption h5 {
        font-size: 30px;
        letter-spacing: 0;
        line-height: normal;
    }

    .carousel-caption p {
        padding: 10px 15px;
        font-size: 15px;
    }

    .carousel .card-bottom {
        display: none;
    }
}



.section-padding {
    padding: 100px 0;
}

.card-img-top {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
}

.bg-footer {
    background-color: #000;
    padding: 50px 0 30px;
}

.bg-footer a {
    text-decoration: none;
    color: aliceblue;
}